@import '../shareable';
@import '../../global';


.event-header
{
    text-align: center;
}

.event-organizer
{
    text-align: center;
}

.event-description
{
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    width: 70%;
    > p
    {
    font-size: 20px;
        line-height: 40px;
    }
    margin-right: 40px;
}

.content
{
    margin-left: 10%;
    display: flex;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        margin: 5px;
    }
}

.event-attributes{
    @media only screen and (max-width: 768px) {
        width: 100%;
        order: -1;
    }
  width: 20%;
  box-sizing: content-box;
  *{
    text-align: center;
  }
}

.event-image
{
    margin-bottom: 10px;
    max-width:100%; 
    margin: auto; 
    display: block
}

.donate
{
    margin-bottom: 20px;
}
.donate-link
{
    display:inline-block;
}

.update-content{
    border: 1px solid saddlebrown;
}

.address-anchor{
    line-height: 15px;
    display: flex;
    justify-content: center;
}

.location-icon
{
    font-size: 30px;
    margin-right: 10px;
    align-content: flex-start;
}

.icon-people{
    color: cadetblue;
    margin-right: 10px;
    align-content: flex-start;
}

.icon-organizer{
    font-size: 40px;
}

.organizer-anchor {
    display: flex;
    justify-content: center;
}

.participants{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


 header{
        border-bottom:  $separator;
        margin-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    .organizer-name{
        align-self: center;
        font-size: 25px;
        margin-left: 10px;
    }

.event-date{
    font-size:large;
    margin: 0px;
}

.event-header
{
    font-size: 40px;
}

app-registration-chart
{
    display: block;
    margin-top: 15px;
}

#participate-button
{
    @media only screen and (max-width: 768px) {
        position: fixed;
        bottom: 10px;
        width: 100%;
        height: 40px;
        background: lightblue;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .icon-participate
    {
        align-self: center;
        margin-right: 5px;

        &:before
        {
            @extend .material-icons;
            content: "thumb_up";
            color: yellowgreen;
        }
    }

    p
    {
        font-size: 18px;
        font-weight: bold;
        color: darkolivegreen
    }
}

.participate-container
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}