@import '../shareable';
@import '../../global';

.event-header
{
    text-align: center;
    margin-bottom: 0px;
}

.event-organizer
{
    text-align: center;
}

.event-description
{
    width: 70%;
    margin-right: 40px;
    
    @media only screen and (max-width: 768px) {
        width: 95%;
    }
    > p
    {
        font-size: 20px;
        line-height: 40px;
    }
}

.content
{
    margin-left: 10%;
    display: flex;
    @media only screen and (max-width: 768px)
    {
        flex-direction: column;
        margin: 5px;
    }
}

.event-attributes{
    @media only screen and (max-width: 768px) {
        width: 95%;
        order: -1;
    }
  width: 20%;
  box-sizing: content-box;
  *{
    text-align: center;
  }
}

.event-image
{
    margin-bottom: 10px;
    max-width:100%; 
    margin: auto; 
    display: block
}

.donate
{
    margin-bottom: 20px;
}
.donate-link
{
    display:inline-block;
}

.update-content
{
    border: 1px solid saddlebrown;
}

.icon-with-text
{
    text-decoration: none;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    p
    {
        font-size: medium;
        font-style: unset;
        color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 5px;

        @media only screen and (max-width: 768px)
        {
            //max-width: 50%;
            margin-left: 0px;
            margin-right: auto;
        }        
    }

    i
    {
        @media only screen and (max-width: 768px)
        {
            margin-right: 5px;
            margin-left: auto;
        }        
    }

}

.anchor-address
{
    
}


.participants{
    display: flex;
    justify-content: center;
    align-items: center;
    
    *
    {
        font-size: large;
    }

    p
    {
        font-size: medium;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;

        @media only screen and (max-width: 768px) {
            max-width: 50%;
            margin-left: 5px;
            margin-right: 0px;
        }
    }    
}

.icon-location
{
    font-size: 30px;
    align-content: flex-start;
}

.icon-people{
    color: cadetblue;
    align-content: flex-start;
    &:before
    {
        font-size: xx-large;    
    }
}

.icon-organizer{
    font-size: 40px;
}

.anchor-organizer {
    display: flex;
    justify-content: center;
}

 header{
        border-bottom:  $separator;
        margin-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    .organizer-name{
        align-self: center;
        font-size: 25px;
        margin-left: 10px;
    }

.event-date{
    font-size:large;
    margin-bottom: 10px;
}

.event-header
{
    font-size: 40px;
}

app-registration-chart
{
    display: block;
}

#participate-button
{
    @media only screen and (max-width: 768px) {
        position: fixed;
        bottom: 10px;
        height: 40px;
        left: 0;
        right: 0;
        bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    @media only screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 80%;
        margin-top: 30px;
    }

    @extend .anchor-button;

    &:hover
    {
        background: rgb(77, 143, 161);
    }

    background: rgb(98, 181, 206);
    border-radius: 6px;

    .icon-participate
    {
        margin-right: 5px;

        &:before
        {
            @extend .material-icons;
            content: "thumb_up";
            color: white;
        }
    }

    p
    {
        font-size: 18px;
        font-weight: bold;
        color: white;
        font-style: unset;
    }
}

.participate-container
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.share-icons > a
{
    display: inline-block;
}