<div>
    <header>
      <h1 class="event-header">{{event.name}}</h1>
        <a class="organizer-anchor" rel="external" target="_parent" title="View Organizer Profile" href="">
          <i class="icon-organizer"></i>       
          <p class="organizer-name">{{event.organizer}}</p>
        </a>
    </header>
  
  <div class="content">
    <div class="event-description">
      <img alt="Avatar" class="event-image" src="{{event.imgURL}}">
      <p>
        {{event.description}}
      </p>
      <div class="event-updates">
        <h2>Updates</h2>
        <app-event-update *ngFor="let update of updates" [update]="update">
        </app-event-update>
      </div>
    </div>
    <div class="event-attributes">

      <p class="event-date">{{event.date | date: 'd MMM y, HH:mm'}} </p>

      <a class="address-anchor" rel="external" target="_blank" title="Open map" href="">
                        <i class="location-icon"></i>
                        <div  class="card-address">
                            <p>{{event.address}}, {{event.city}}, {{event.country}}</p>
                        </div>
                </a>
      <div class="participants">
        <div class="icon-people"></div>
        <div class="participants-count">{{event.participantsCount}} participants</div>
      </div>
        <p>TO DO Registration graph</p>

      <div class="share">
        <p>Share:</p>
        <div class="share-icons">
          <a rel="external" style="display: inline-block" target="_blank" class="facebook-share-url" href="youtube.com" title="Twitter"></a>
          <a rel="external" style="display: inline-block" target="_blank" class="twitter-share-url" href="youtube.com" title="Twitter"></a>
          <a rel="external" style="display: inline-block" target="_blank" class="telegram-share-url" href="youtube.com" title="Twitter"></a>
          <a rel="external" style="display: inline-block" target="_blank" class="vk-share-url" href="youtube.com" title="Twitter"></a>
          <a rel="external" style="display: inline-block" target="_blank" class="ok-share-url" href="youtube.com" title="Twitter"></a>
        </div>
      </div>
      <div class="donate">
        <p>Donate:</p>
        <div class="share-icons">
          <a class="donate-link" style="margin-right: 20px" rel="external" target="_blank" href="youtube.com" title="Paypal">
           <img alt="Donate" class="event-image" src="../assets/img/paypal_donate.gif">
          </a>
          <a class="donate-link" rel="external" target="_blank" href="youtube.com" title="Paypal">
           <img alt="Donate" class="event-image" src="../assets/img/yandex_donate.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>