$separator: 1px solid rgb(112, 103, 97);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.anchor-button
{
    text-decoration: none;
    
        *
        {
            font-style: unset;
            color: black;
        }
}

.anchor-organizer 
{
     @extend .anchor-button;
}

.anchor-address
{
    @extend .anchor-button;
    
    display: inline-flex;
    align-self: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    justify-content: flex-end;
}

.icon-location
{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    &:before
    {
        @extend .material-icons;
        content: "location_on";
        color: salmon;
        font-size: inherit;
    }
}

.icon-organizer
{
    align-self: center;
  
    &:before 
    {
        @extend .material-icons;
        font-size: inherit;
        content: "account_circle";
        color: lightblue;
    } 
}

.icon-people{
    &::before
    {
        @extend .material-icons;
        content: "people";
    }
}