$chart-color: lightseagreen;
$dash-count: 1000;

line
{
    stroke: $chart-color;
    stroke-width:  1;
}

@keyframes dash
{
    from
    {
        stroke-dashoffset: $dash-count;
    }
    to
    {
        stroke-dashoffset: 0;
    }
}

.path
{
    stroke-dasharray: $dash-count;
    animation: dash 5s linear;
}

circle
{
    fill: $chart-color;
    stroke: $chart-color;
    &:hover
     {
        stroke-width: 10;
    }
  }

.tooltip
{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#tooltiptext
{
    text-align: center;
    visibility: visible;
    z-index: 1;
    font-size: 14px;
    display: block;
}

.label
{
    stroke-width: 0.4;
    stroke: $chart-color;
}

.graph
{
    height: 150px;
    width: 350px;
}

.header
{
    margin: 15px;
}