<h1>
    Organize your own event!
</h1>
<div class="main">
  <article class="card" *ngFor="let event of events | async">
    <header class="card-header">
      <div class="card-category">
        <div class="{{event.category}}" title="">
        </div>
      </div>
        <a *ngIf=event.isOrganizer class="organizer" title="You are the organizer of this event" href="#"> 
          <i class="icon-face"></i>       
        </a>
        <a *ngIf=event.isParticipant class="unparticipate" title="You are in for this event. Click to out" href="#"> 
          <i class="icon-participant"></i>       
        </a>
      <div class="participants">
        <div class="icon-people"></div>
        <div class="participants-count">{{event.participantsCount}}</div>
      </div>
    </header>
    <img alt="Avatar" class="card-image" src="{{event.imgURL}}">
    <section class="card-content">
      <h3 class="card-name">{{event.name}}</h3>
      <h5 class="card-date">{{event.date | date: 'd MMM y, HH:mm'}} </h5>
      <div class="share">
        <a *ngFor="let externalLink of event.externalLinks" rel="external" target="_blank" class="{{externalLink.type}}" href="{{externalLink.URL}}"
          title="{{externalLink.title}}"></a>
      </div>
      <a class="text-anchor" rel="external" target="_self" title="See the event" (click)="onSelectEvent(event)">
        <p class="card-description">{{event.description}}</p>
      </a>
      <div class="card-bottom-info">
        <a class="anchor-organizer" rel="external" target="_parent" title="View Organizer Profile" href="">
          <i class="icon-organizer"></i>       
          <p class="card-organizer">{{event.organizer}}</p>
        </a>
        <a class="anchor-address" rel="external" target="_blank" title="Open map" href="">
                        <i class="icon-location"></i>
                        <div  class="card-address">
                            <p>{{event.city}}, {{event.country}}</p>
                            <p>{{event.address}}</p>
                        </div>
                </a>
      </div>
    </section>
  </article>
</div>