@import '../../global';
@import '../shareable';

.main{
    column-count: 4;
    -webkit-column-count:4;
    -webkit-column-gap: 0px;
    column-gap: 15px;

    @media only screen and (max-width: 480px) {
     column-count: 1;
     -webkit-column-count:1;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    border: 1px solid #f9f9f9;
    margin-bottom: 8px;
    page-break-inside: avoid;
    
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.card-header {
    border-bottom: 1px solid darkblue;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5px;
}

.organizer
{
    align-self: center;
    margin-left: 5px;
}

.icon-participant{
    &:before
    {
        @extend .material-icons;
        content: "check_circle";
        color: yellowgreen;
    }
}

.unparticipate
{
    align-self: center;
    margin-left: 5px;
}

.icon-face{
    &:before
    {
        @extend .material-icons;
        content: "grade";
        color: green;
    }
}

.card-category {
   align-self: center;
}

.participants {
    display: -webkit-inline-flex;
    margin-left: auto;
    justify-content: flex-end;
    align-self: center;   
}
.icon-people{
    @extend .material-icons;
    
    &::before{
        content: "people";
    }

    margin-right: 5px;
    align-self: center;
}

.participants-count{
    align-self: center;
    font-size: 16px;
}

.card-image
{
    margin: 5px 0px;
}

.card-content {
    border-top: 1px solid darkblue;
}

.card-name{
    text-align: center;
    line-height: 0px;
}

.card-date {
    text-align: center;
}

.share{
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.card-category
{
    @extend .material-icons;

    > *:before{
        @extend .material-icons;
    }

    >  .economy:before {
        content: "account_balance";
        color: gray;
        font-style: oblique;
    }

     > .political:before {
        content: "record_voice_over";
        color: darkslategray;
    }

    >.ecology:before {
        content: "nature_people";
        color: green;
    }

    > .social:before {
        content: "location_city";
        color: darkcyan;
    }
}

.text-anchor, .address-anchor, .organizer-anchor {
    text-decoration: none;
}

.card-description {
    font-size: 14px;
    font-style: unset;
    color: black;
}

.card-bottom-info{
    display: inline-flex;
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.organizer-anchor {
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.icon-organizer:before {
    @extend .material-icons;
    
    content: "account_circle";
    color: lightblue;
}

.card-organizer{
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    align-self: stretch;
    margin: 0px;
    font-style: unset;
    color: black;
}

.address-anchor{
    display: inline-flex;
    align-self: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.location-icon{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    &:before
    {
        @extend .material-icons;
        content: "location_on";
        color: salmon;
    }
}


.card-address {
    align-self: center;
    height: 15px;
    p {
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        align-self: stretch;
        margin: 0px;
        font-style: unset;
        color: black;
    }    
}